body
{
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 55, 92);
    font-family: Arial, Helvetica, sans-serif;
}

#conteiner
{
    width: 500px;
    height: auto;
    background-color: rgb(97, 97, 167);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.356);
}

#title
{
    float: left;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

#odp
{
    float: left;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color:aquamarine;
}

#input
{
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#argument
{
    border-radius: 5px;
    height: 20px;
}

#button
{
    float: left;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn
{
    width: 150px;
    height: 30px;
    border: none;
    background-color: rgb(183, 133, 230);
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover
{
    background-color: rgb(164, 100, 224);
    border-radius: 8px;
    transition: 0.5s;
}